body {
  margin: 0;
  background-color: rgb(240, 241, 246) !important;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */



@font-face {
  font-family: "Poppins-Regular";
  src: local("Poppins-Regular"), url("../src/font/Poppins-Regular.otf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Poppins-Medium";
  src: local("Poppins-Medium"),
    url("../src/font/Poppins-Medium.otf") format("truetype");
  font-weight: normal;
}

button {
  font-family: "Poppins-Regular" !important;
}